<script lang="ts">
	import { enhance } from '$app/forms';
	import { setShowedPlanView } from '$lib/stores/little-things';
	import resetPlanVeiwing from '$lib/utils/resetPlanViewing';
    import type { IPatientSignupAuthData, IProfessionalSignupAuthData, ISignupAuthValidation, IProfessionalSignupAuthValidation, IPatientSignupAuthValidation } from '$lib/models/interfaces/session';
	import { addNotification } from '$lib/stores/notification';

	export let data;
	
	let birthdate: string | number = data.session.birthdate ?? '';
	if (birthdate != '')
		birthdate = new Date(birthdate).toISOString().slice(0,10);
	
	const patientForm: IPatientSignupAuthData = {
		name: data.session.name,
		lastname: data.session.lastname,
		birthdate: birthdate,
		addictionId: data.addiction?._id,
		email: data.session.email,
		password: ''
	};
	const professionalForm: IProfessionalSignupAuthData = {
		name: data.session.name,
		lastname: data.session.lastname,
		phone: data.session.phone,
		email: data.session.email,
		title: data.session.title,
		nroDoctor: data.session.nroDoctor,
		password: data.session.password
	};
	const validation: ISignupAuthValidation = { 
		patient: {
			name: null,
			lastname: null,
			email: null,
			password: null,
			birthdate: null,
			addictionId: null
		},
		professional: {
			name: null,
			lastname: null,
			email: null,
			password: null,
			title: null,
			phone: null,
			nroDoctor: null
		}
	};
	const validateField = (node: HTMLInputElement | HTMLSelectElement, canBeEmpty: boolean = true) => {
		const empty = node.value == '' || (['addictionId'].includes(node.name) && node.value == 'none');
		const type = data.session.role as keyof typeof validation;
		const vali: any = validation[type];
		const name = node.name as keyof typeof vali;
		let status: boolean | null = false;

		if (empty)
			status = canBeEmpty ? null : false;
		else
			status = data.EXP[node.name as keyof typeof data]?.test(node.value);

		(validation[type] as any)[name] = status;
	}
	const handleInputEvent = (node: Event & { currentTarget: EventTarget & (HTMLInputElement) }) => {
		const target = node.target as HTMLInputElement;

		validateField(target);
	}
	const useFieldValidation = (node: HTMLInputElement) => validateField(node);
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		const children = formElement.querySelectorAll('input, select');
		
		children.forEach((child: HTMLInputElement | HTMLSelectElement) => {
			if (child.name == 'password' && child.value == '') {
				validation[data.session.role as keyof typeof validation].password = true;
				return;
			}

			validateField(child, false);
		});
		if (Object.values(validation[data.session.role as keyof typeof validation]).some(val => !val))
			cancel()
		
		return async ({ result, update }: any) => {
			switch (result.type) {
				case 'success':
					addNotification({ msg: 'Perfil actualizado', type: 'success' });
				break;
				case 'failure':
					result.data.msg.forEach((msg: string) => {
						addNotification({ msg: msg, type: 'error' });
					});
				break;
				case 'error':
					addNotification({ msg: 'Error desconocido. Intente más tarde o contacte con el administrador', type: 'error' });
				break;
			}
		}
	}
	resetPlanVeiwing(setShowedPlanView, data.session);
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="content-wrapper">
	<div class="form-wrapper">
		<h2>Perfil del usuario</h2>
		<form action="?/updateProfile" method="POST" autocomplete="off" use:enhance={submitForm}>
			{#if data.session.role == 'patient'}
				<div class="box" class:wrong={validation['patient'].name != null && !validation['patient'].name}>
					<label for="name">Nombre</label>
					<input type="text" bind:value={patientForm.name} use:useFieldValidation on:input={handleInputEvent} name="name" placeholder="Ejemplo: John">
				</div>
				<div class="box" class:wrong={validation['patient'].lastname != null && !validation['patient'].lastname}>
					<label for="lastname">Apellido</label>
					<input type="text" bind:value={patientForm.lastname} use:useFieldValidation on:input={handleInputEvent} name="lastname" placeholder="Ejemplo: Doe">
				</div>
				<div class="box" class:wrong={validation['patient'].birthdate != null && !validation['patient'].birthdate}>
					<label for="birthdate">Fecha de Nacimiento</label>
					<input type="date" bind:value={patientForm.birthdate} use:useFieldValidation on:input={handleInputEvent} name="birthdate">
				</div>
				<div class="box" class:wrong={validation['patient'].addictionId != null && !validation['patient'].addictionId}>
					<label for="addictionId">Adicción</label>
					<p class="input">{data.addiction.name}</p>
					<input type="hidden" name="addictionId" value="{patientForm.addictionId}">
				</div>
				<div class="box" class:wrong={validation['patient'].email != null && !validation['patient'].email}>
					<label for="email">Correo Electrónico</label>
					<input type="text" bind:value={patientForm.email} use:useFieldValidation on:input={handleInputEvent} name="email" placeholder="Ejemplo: doe.john@mail.com">
				</div>
				<div class="box" class:wrong={validation['patient'].password != null && !validation['patient'].password}>
					<label for="password">Contraseña</label>
					<input type="password" bind:value={patientForm.password} use:useFieldValidation on:input={handleInputEvent} name="password">
				</div>
			{:else}
				<div class="box" class:wrong={validation['professional'].name != null && !validation['professional'].name}>
					<label for="name">Nombre</label>
					<input type="text" bind:value={professionalForm.name} use:useFieldValidation on:input={handleInputEvent} name="name" placeholder="Ejemplo: John">
				</div>
				<div class="box" class:wrong={validation['professional'].lastname != null && !validation['professional'].lastname}>
					<label for="lastname">Apellido</label>
					<input type="text" bind:value={professionalForm.lastname} use:useFieldValidation on:input={handleInputEvent} name="lastname" placeholder="Ejemplo: Doe">
				</div>
				<div class="box" class:wrong={validation['professional'].phone != null && !validation['professional'].phone}>
					<label for="phone">Teléfono</label>
					<input type="text" bind:value={professionalForm.phone} use:useFieldValidation on:input={handleInputEvent} name="phone" placeholder="Ejemplo: +584140000000">
				</div>
				<div class="box" class:wrong={validation['professional'].email != null && !validation['professional'].email}>
					<label for="email">Correo Electrónico</label>
					<input type="text" bind:value={professionalForm.email} use:useFieldValidation on:input={handleInputEvent} name="email" placeholder="Ejemplo: doe.john@mail.com">
				</div>
				<div class="box" class:wrong={validation['professional'].title != null && !validation['professional'].title}>
					<label for="title">Título</label>
					<input type="text" bind:value={professionalForm.title} use:useFieldValidation on:input={handleInputEvent} name="title" placeholder="Ejemplo: Psicólogo">
				</div>
				<div class="box" class:wrong={validation['professional'].nroDoctor != null && !validation['professional'].nroDoctor}>
					<label for="nroDoctor">Cédula Médica</label>
					<input type="text" bind:value={professionalForm.nroDoctor} use:useFieldValidation on:input={handleInputEvent} name="nroDoctor" placeholder="Ejemplo: 00000000">
				</div>
				<div class="box" class:wrong={validation['professional'].password != null && !validation['professional'].password}>
					<label for="password">Contraseña</label>
					<input type="password" bind:value={professionalForm.password} use:useFieldValidation on:input={handleInputEvent} name="password">
				</div>
			{/if}
			<div class="controls">
				<button>Actualizar</button>
			</div>
		</form>
	</div>
</div>
