<script lang="ts">
    import logo from '$lib/assets/images/isologo.png';

    export let data;
</script>

<svelte:head>
    <title>{data.title_base + data.title}</title>
</svelte:head>

<div class="general-margin">
    <div class="wrapper">
        <div class="logo-wrapper">
            <img src="{logo}" alt="">
        </div>
        <p class="slogan">Tu acompañante en tu lucha contra la adicción</p>
        <a href="/auth/login">Iniciar sesión</a>
        <a href="/auth/signup">Registrarme</a>
    </div>
</div>

<style>
    .general-margin {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: calc(100dvh - var(--page-padding) * 2);

        & .wrapper {
            width: 100%;

            & .logo-wrapper {
                width: 150px;
                margin: 0 auto;

                & img {
                    display: block;
                    width: 100%;
                }
            }
            & .slogan {
                color: var(--text-c);
                font-size: var(--fze-little);
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: var(--padding);
                text-align: center;
            }
            & a {
                background-color: var(--primary-c);
                border: 2px solid var(--primary-c);
                border-radius: var(--border-radius-btn);
                color: var(--white-c);
                display: block;
                font-weight: bold;
                margin-top: 10px;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                transition: all var(--trans-time) ease;

                &:hover {
                    background-color: transparent;
                    color: var(--primary-c);
                }
            }
        }
    }
</style>