<script lang="ts">
    import '@fortawesome/fontawesome-free/css/all.min.css';
    import '$lib/assets/styles/normalize.css';
    import '$lib/assets/styles/app.css';
	import Notification from '$lib/components/Notification.svelte';

    export let data;
</script>

<Notification />
<main>
    <slot />
</main>