<script lang="ts">
    import Header from '$lib/components/Header.svelte';
    import Footer from '$lib/components/Footer.svelte';
    import Support from '$lib/components/Support.svelte';
    import Notification from '$lib/components/Notification.svelte';
    import { page } from '$app/stores';

    export let data;
</script>

<Notification />
<div class="general-margin">
    <div class="wrapper">
        <Header {data} />
        <slot />
        {#if !$page.url.pathname.startsWith('/support')}
            <Support />
        {/if}
        <Footer {data} />
    </div>
</div>

<style>
    .general-margin {
        align-items: flex-start;

        & .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding);

            & > * {
                width: 100%;
            }
        }
    }
</style>