<script lang="ts">
	import { showedPlanView } from '$lib/stores/little-things';

	export let data;
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="content-wrapper">
	{#if data.session.role == 'patient'}
		{#if $showedPlanView}
			<button type="button" class="back-to" on:click={() => $showedPlanView = !$showedPlanView}><i class="fa-solid fa-arrow-left-long"></i>Regresar</button>
			<h2>Plan de tratamiento</h2>
			<textarea disabled class="plan" name="treatment" id="treatment" bind:value={data.session.treatment}></textarea>
		{:else}
			{#if data.professional != null && data.session.treatment != ''}
				<div class="item-wrapper">
					<h4>Plan de tratamiento</h4>
					<button type="button" class="btn-principal" on:click={() => $showedPlanView = !$showedPlanView}>Ver plan</button>
				</div>
				<div class="item-wrapper">
					<h4>Consulta Profesional</h4>
					<a href="/medical-consultation" class="btn-principal">COnsultar</a>
				</div>
			{:else}
				<h4>Por favor, espera un poco.</h4>
				<p>Nuestros profesionales están <b>preparando un plan de tratamiento para ti</b>.</p>
			{/if}
		{/if}
	{:else}
		<h2>Listado de pacientes</h2>
		<ul class="list-wrapper">
			{#if data.patients.length}
				{#each data.patients as patient}
					<li class="list-item">
						<div class="patient-info">
							<h5>{patient.name} {patient.lastname}</h5>
							<p>{patient.addictionName}</p>
						</div>
						<div class="btn-wrapper">
							<a href="/patient-management/{patient.id}"><i class="fa-solid fa-circle-info"></i></a>
							<a href="/medical-consultation/{patient.id}"><i class="fa-solid fa-comments"></i></a>
						</div>
					</li>
				{/each}
			{:else}
				<p>Aún no tiene pacientes asignados.</p>
			{/if}
		</ul>
	{/if}
</div>

<style>
	.plan {
		display: block;
		width: 100%;
		height: 250px;
		max-height: 400px;
		transition: all var(--trans-time) ease;
		border-radius: var(--border-radius);
		border: 2px solid var(--darkgray-c);
		outline: none;
		padding: 10px 15px;
		resize: none;

		&:focus {
			border-color: var(--black-c);
		}
	}
	
	.back-to {
		background-color: transparent;
		border: none;
		color: var(--primary-c);
		cursor: pointer;
		display: block;
		font-weight: bold;
		font-size: var(--fze-little);
		margin-bottom: var(--padding);
		text-transform: uppercase;
		outline: none;

		& i {
			color: var(--text-c);
			display: inline-block;
			margin-right: 10px;
		}
	}

	.item-wrapper {
		& h4 {
			color: var(--primary-c);
			margin-bottom: 10px;
			text-align: center;
		}

		& .btn-principal {
			background-color: transparent;
			border: 2px solid var(--primary-c);
            border-radius: var(--border-radius-btn);
            color: var(--primary-c);
			display: block;
			font-weight: bold;
			font-size: var(--fze-little);
            margin-top: 10px;
            padding: 10px 20px;
			text-transform: uppercase;
			text-align: center;
            transition: all var(--trans-time) ease;
            width: 100%;

            &:hover {
				background-color: var(--primary-c);
                color: var(--white-c);
            }
		}

		& button.btn-principal {
			cursor: pointer;
			outline: none;
		}

		& a.btn-principal {
			text-decoration: none;
		}

		&:not(:first-child) {
			margin-top: var(--padding);
		}
	}

	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--padding) / 2);

		& .list-item {
			align-items: center;
			background-color: var(--gray-c);
			border-radius: var(--border-radius);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: calc(var(--padding) / 2);
			width: 100%;

			& .patient-info {
				width: calc(100% - 75px - 10px);

				& h5 {
					font-size: var(--fze-normal);
					text-align:left;
				}
				& p {
					font-size: var(--fze-little);
				}
			}

			& .btn-wrapper {
				align-items: center;
				border-left: 1px solid var(--);
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 75px;

				& a {
					border: 2px solid var(--primary-c);
					border-radius: 50%;
					color: var(--primary-c);
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					text-align: center;
					text-decoration: none;
					width: 35px;
					height: 35px;
					transition: all var(--trans-time) ease;

					&:hover {
						background-color: var(--primary-c);
						color: var(--white-c);
					}
				}
			}
		}
	}
</style>