<script lang="ts">
    import logo from '$lib/assets/images/isotipo.png';
	import { enhance } from '$app/forms';
    import type { IQuestionnaireData, IQuestionnaireValidation } from '$lib/models/interfaces/form';
	import type { IEventSelect } from '$lib/models/interfaces/alidev-select';
	import { addNotification } from '$lib/stores/notification';
	import AlidevSelect from '$lib/components/AlidevSelect.svelte';

	export let data;

	const form: IQuestionnaireData = {
		question_1: '',
		question_2: '',
		question_3: '',
		question_4: '',
		question_5: '',
		question_6: '',
		question_7: '',
		question_8: ''
	};
	const validation: IQuestionnaireValidation = {
		question_1: null,
		question_2: null,
		question_3: null,
		question_4: null,
		question_5: null,
		question_6: null,
		question_7: null,
		question_8: null
	}
	const validateField = (node: HTMLInputElement | HTMLSelectElement | IEventSelect, canBeEmpty: boolean = true) => {
		let status: boolean | null = false;

		if (node.value == '')
			status = canBeEmpty ? null : false;
		else
			status = data.EXP[node.name.replace(/(_\d+)/, '') as keyof typeof data]?.test(node.value);

		validation[node.name as keyof typeof validation] = status;
	}
	const handleInputEvent = (node: Event & { currentTarget: EventTarget & (HTMLInputElement | IEventSelect) }) => {
		const target = node.target as HTMLInputElement | IEventSelect;

		validateField(target);
	}
	const handleAlidevSelectEvent = (e: CustomEvent<any>) => {
		const target = e.detail;

		if (target.value == 'none')
			return validation[target.name as keyof typeof validation] = false;
		
		validateField(target);
	}
	const useFieldValidation = (node: HTMLInputElement | IEventSelect) => {
		validateField(node)
	};
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		const children = formElement.querySelectorAll('input, select');
		children.forEach((child: any) => {
			if (child.tagName == 'SELECT') {
				validation[child.name as keyof typeof validation] = (child.value != 'none')

				return;
			}
				
			validateField(child);
		});
		console.log(validation);
		if (Object.values(validation).some(val => !val))
			cancel();

		return async ({ result, update }: any) => {
			switch (result.type) {
				case 'redirect':
					update();
				break;
				case 'failure':
					result.data.msg.forEach((msg: string) => {
						addNotification({ msg: msg, type: 'error' });
					});
				break;
				case 'error':
					addNotification({ msg: 'Error desconocido. Intente más tarde o contacte con el administrador', type: 'error' });
				break;
			}
		}
	}
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="general-margin">
    <div class="wrapper">
		<div class="form-wrapper">
		    <form action="?/saveQuiz" method="POST" autocomplete="off" use:enhance={submitForm}>
		        <h3 class="title"><span>Cuéntanos</span><b>Acerca de tu adicción</b></h3>
				<div class="box" class:wrong={validation['question_1'] != null && !validation['question_1']}>
					<label for="question_1">{data.question_string.question_1}</label>
					<input type="text" id="question_1" name="question_1" bind:value={form.question_1} use:useFieldValidation on:input={handleInputEvent} required>
				</div>
				<div class="box" class:wrong={validation['question_2'] != null && !validation['question_2']}>
					<label for="question_2">{data.question_string.question_2}</label>
					<AlidevSelect
						name="question_2"
						bind:value={form.question_2}
						data={[ { text: 'Si', value: 'SI'}, { text: 'No', value: 'NO' } ]}
						required={true}
						on:selectOption={handleAlidevSelectEvent}
						isError={validation.question_2 === false}
					/>
				</div>
				<div class="box" class:wrong={validation['question_3'] != null && !validation['question_3']}>
					<label for="question_3">{data.question_string.question_3}</label>
					<AlidevSelect
						name="question_3"
						bind:value={form.question_3}
						data={[ { text: 'Si', value: 'SI'}, { text: 'No', value: 'NO' } ]}
						required={true}
						on:selectOption={handleAlidevSelectEvent}
						isError={validation.question_3 === false}
					/>
				</div>
				<div class="box" class:wrong={validation['question_4'] != null && !validation['question_4']}>
					<label for="question_4">{data.question_string.question_4}</label>
					<input type="text" id="question_4" name="question_4" bind:value={form.question_4} use:useFieldValidation on:input={handleInputEvent} required>
				</div>
				<div class="box" class:wrong={validation['question_5'] != null && !validation['question_5']}>
					<label for="question_5">{data.question_string.question_5}</label>
					<input type="text" id="question_5" name="question_5" bind:value={form.question_5} use:useFieldValidation on:input={handleInputEvent} required>
				</div>
				<div class="box" class:wrong={validation['question_6'] != null && !validation['question_6']}>
					<label for="question_6">{data.question_string.question_6}</label>
					<AlidevSelect
						name="question_6"
						bind:value={form.question_6}
						data={[ { text: 'Si', value: 'SI'}, { text: 'No', value: 'NO' } ]}
						required={true}
						on:selectOption={handleAlidevSelectEvent}
						isError={validation.question_6 === false}
					/>
				</div>
				<div class="box" class:wrong={validation['question_7'] != null && !validation['question_7']}>
					<label for="question_7">{data.question_string.question_7}</label>
					<input type="text" id="question_7" name="question_7" bind:value={form.question_7} use:useFieldValidation on:input={handleInputEvent} required>
				</div>
				<div class="box" class:wrong={validation['question_8'] != null && !validation['question_8']}>
					<label for="question_8">{data.question_string.question_8}</label>
					<input type="text" id="question_8" name="question_8" bind:value={form.question_8} use:useFieldValidation on:input={handleInputEvent} required>
				</div>
		        <div class="controls">
		            <button class="btn-sigin">Ingresar</button>
		        </div>
		    </form>
		</div>
	</div>
	<div class="logo-wrapper">
		<img src="{logo}" alt="">
	</div>
</div>

<style>
	.logo-wrapper {
		width: 40px;
		margin: 0 auto;
		margin-top: var(--padding);

		& img {
			display: block;
			width: 100%;
		}
	}
</style>