<script lang="ts">
	import { enhance } from '$app/forms';
	import type { ISupportValidation, ISupportData } from '$lib/models/interfaces/form';
	
	export let data;
	
	const form : ISupportData = {
		subject: '',
		message: ''
	}
	const validation: ISupportValidation = {
		subject: null,
		message: null
	}
	const validateField = (node: HTMLInputElement | HTMLSelectElement, canBeEmpty: boolean = true) => {
		const empty = node.value == '';
		const name = node.name as keyof typeof validation;
		let status: boolean | null = false;

		if (empty)
			status = canBeEmpty ? null : false;
		else
			status = data.EXP[node.name as keyof typeof data]?.test(node.value);

		validation[name] = status;
	}
	const handleInputEvent = (node: Event & { currentTarget: EventTarget & HTMLInputElement }) => {
		const target = node.target as HTMLInputElement;

		validateField(target);
	}
	const handleChangeEvent: any = (node: Event & { currentTarget: EventTarget & HTMLTextAreaElement }) => {
		const target = node.target as HTMLTextAreaElement;

		validation.message = target.value == '' ? null : true;
	}
	const useFieldValidation = (node: HTMLInputElement) => validateField(node);
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		cancel();
	}
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="content-wrapper">
	<h1>Soporte</h1>
    <div class="form-wrapper">
        <form action="?/sendMail" method="POST" use:enhance={submitForm}>
			<h3>Enviar mensaje</h3>
            <div class="box">
                <label for="asunto">Asunto</label>
                <input type="text" bind:value={form.subject} use:useFieldValidation on:input={handleInputEvent} name="subject" placeholder="Ejemplo: Estoy teniendo un problema con..." required>
            </div>
            <div class="box">
                <label for="message">Mensaje</label>
                <textarea bind:value={form.message} on:input={handleChangeEvent} id="message" name="message" placeholder="..."></textarea>
            </div>
            <div class="controls">
                <button>Enviar</button>
            </div>
        </form>
    </div>    
</div>
<style>
	.form-wrapper {
		background-color: var(--gray-c);
		border-radius: var(--border-radius);
		padding: calc(var(--padding) / 2);
		width: 100%;

		& h3 {
			text-align: center;
			margin-bottom: var(--padding);
		}
		&:not(:first-child) {
			margin-top: var(--padding);
		}

		& textarea {
			height: 100px;
		}
	}
</style>