<script lang="ts">
	import logo from '$lib/assets/images/isotipo.png';
    import { goto } from '$app/navigation';
	import { enhance } from '$app/forms';
    import type { IPatientSignupAuthData, IProfessionalSignupAuthData, ISignupAuthValidation } from '$lib/models/interfaces/session';
	import type { IEventSelect } from '$lib/models/interfaces/alidev-select';
	import { addNotification } from '$lib/stores/notification';
	import AlidevSelect from '$lib/components/AlidevSelect.svelte';

	export let data;
	
	let accountType: string = '';
	const patientForm: IPatientSignupAuthData = {
		name: 'alirio',
		lastname: 'freytez',
		birthdate: '2001-07-01',
		addictionId: '663692a9e8e21610990c7f6f',
		email: 'csa@asa.com',
		password: 'miconTra!1'
	};
	const professionalForm: IProfessionalSignupAuthData = {
		name: '',
		lastname: '',
		phone: '',
		email: '',
		title: '',
		nroDoctor: '',
		password: ''
	};
	const validation: ISignupAuthValidation = { 
		patient: {
			name: null,
			lastname: null,
			email: null,
			password: null,
			birthdate: null,
			addictionId: null
		},
		professional: {
			name: null,
			lastname: null,
			email: null,
			password: null,
			title: null,
			phone: null,
			nroDoctor: null
		}
	};
	const validateField = (node: HTMLInputElement | HTMLSelectElement | IEventSelect, canBeEmpty: boolean = true) => {
		const empty = node.value == '' || (['addictionId'].includes(node.name) && node.value == 'none');
		const type = accountType as keyof typeof validation;
		const vali: any = validation[type];
		const name = node.name as keyof typeof vali;
		let status: boolean | null = false;

		if (empty)
			status = canBeEmpty ? null : false;
		else
			status = data.EXP[node.name as keyof typeof data]?.test(node.value);

		(validation[type] as any)[name] = status;
	}
	const handleAlidevSelectEvent = (e: CustomEvent<any>) => {
		const target = e.detail;

		validateField(target);
	}
	const handleInputEvent = (node: Event & { currentTarget: EventTarget & (HTMLInputElement | IEventSelect) }) => {
		const target = node.target as HTMLInputElement | IEventSelect;

		validateField(target);
	}
	const useFieldValidation = (node: HTMLInputElement | IEventSelect) => validateField(node);
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		const children = formElement.querySelectorAll('input, select');
		
		children.forEach((child: HTMLInputElement | HTMLSelectElement) => validateField(child, false));
		if (Object.values(validation[accountType as keyof typeof validation]).some(val => !val))
			cancel()
		
		return async ({ result, update }: any) => {
			switch (result.type) {
				case 'redirect':
					update();
				break;
				case 'success':
					console.log('success')
				break;
				case 'failure':
					result.data.msg.forEach((msg: string) => {
						addNotification({ msg: msg, type: 'error' });
					});
				break;
				case 'error':
					addNotification({ msg: 'Error desconocido. Intente más tarde o contacte con el administrador', type: 'error' });
				break;
			}
		}
	}
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="general-margin">
	<div class="wrapper-out">
		<div class="wrapper-in">
			<div class="wrapper">
				{#if accountType == ''}
					<h3>¿Qué tipo de usuario eres?</h3>
					<div class="choice-wrapper">
						<button type="button" on:click={() => accountType = 'patient'}>Paciente</button>
						<button type="button" on:click={() => accountType = 'professional'}>Profesional de la Salud</button>
					</div>
					<a href="/" class="back-to"><span>Regresar al inicio</span></a>
				{:else if accountType == 'patient'}
					<button type="button" class="back-to" on:click={() => accountType = ''}><i class="fa-solid fa-arrow-left-long"></i><span>Menu anterior</span></button>
					<div class="form-wrapper">
						<form action="?/signup" method="POST" autocomplete="off" use:enhance={submitForm}>
							<h3 class="title"><span>Registro como</span><b>Paciente</b></h3>
							<div class="box" class:wrong={validation['patient'].name != null && !validation['patient'].name}>
								<label for="name">Nombre</label>
								<input type="text" bind:value={patientForm.name} use:useFieldValidation on:input={handleInputEvent} name="name" placeholder="Ejemplo: John" required>
							</div>
							<div class="box" class:wrong={validation['patient'].lastname != null && !validation['patient'].lastname}>
								<label for="lastname">Apellido</label>
								<input type="text" bind:value={patientForm.lastname} use:useFieldValidation on:input={handleInputEvent} name="lastname" placeholder="Ejemplo: Doe" required>
							</div>
							<div class="box" class:wrong={validation['patient'].birthdate != null && !validation['patient'].birthdate}>
								<label for="birthdate">Fecha de Nacimiento</label>
								<input type="date" bind:value={patientForm.birthdate} use:useFieldValidation on:input={handleInputEvent} name="birthdate" required>
							</div>
							<div class="box" class:wrong={validation['patient'].addictionId != null && !validation['patient'].addictionId}>
								<label for="addictionId">Adicción</label>
								<AlidevSelect
									name="addictionId"
									bind:value={patientForm.addictionId}
									data={data.addictions}
									required={true}
									on:selectOption={handleAlidevSelectEvent}
									isError={validation['patient'].addictionId === false}
								/>
							</div>
							<div class="box" class:wrong={validation['patient'].email != null && !validation['patient'].email}>
								<label for="email">Correo Electrónico</label>
								<input type="text" bind:value={patientForm.email} use:useFieldValidation on:input={handleInputEvent} name="email" placeholder="Ejemplo: doe.john@mail.com" required>
							</div>
							<div class="box" class:wrong={validation['patient'].password != null && !validation['patient'].password}>
								<label for="password">Contraseña</label>
								<input type="password" bind:value={patientForm.password} use:useFieldValidation on:input={handleInputEvent} name="password" required>
							</div>
							<div class="controls">
								<button class="btn-sigin">Registrar</button>
							</div>
							<input type="hidden" name="role" value="patient">
						</form>
					</div>
				{:else if accountType == 'professional'}
					<button type="button" class="back-to" on:click={() => accountType = ''}><i class="fa-solid fa-arrow-left-long"></i><span>Menu anterior</span></button>
					<div class="form-wrapper">
						<form action="?/signup" method="POST" autocomplete="off" use:enhance={submitForm}>
							<h3 class="title"><span>Registro como</span><b>Profesional de la Salud</b></h3>
							<div class="box" class:wrong={validation['professional'].name != null && !validation['professional'].name}>
								<label for="name">Nombre</label>
								<input type="text" bind:value={professionalForm.name} use:useFieldValidation on:input={handleInputEvent} name="name" placeholder="Ejemplo: John" required>
							</div>
							<div class="box" class:wrong={validation['professional'].lastname != null && !validation['professional'].lastname}>
								<label for="lastname">Apellido</label>
								<input type="text" bind:value={professionalForm.lastname} use:useFieldValidation on:input={handleInputEvent} name="lastname" placeholder="Ejemplo: Doe" required>
							</div>
							<div class="box" class:wrong={validation['professional'].phone != null && !validation['professional'].phone}>
								<label for="phone">Teléfono</label>
								<input type="text" bind:value={professionalForm.phone} use:useFieldValidation on:input={handleInputEvent} name="phone" placeholder="Ejemplo: +584140000000" required>
							</div>
							<div class="box" class:wrong={validation['professional'].email != null && !validation['professional'].email}>
								<label for="email">Correo Electrónico</label>
								<input type="text" bind:value={professionalForm.email} use:useFieldValidation on:input={handleInputEvent} name="email" placeholder="Ejemplo: doe.john@mail.com" required>
							</div>
							<div class="box" class:wrong={validation['professional'].title != null && !validation['professional'].title}>
								<label for="title">Título</label>
								<input type="text" bind:value={professionalForm.title} use:useFieldValidation on:input={handleInputEvent} name="title" placeholder="Ejemplo: Psicólogo" required>
							</div>
							<div class="box" class:wrong={validation['professional'].nroDoctor != null && !validation['professional'].nroDoctor}>
								<label for="nroDoctor">Cédula Médica</label>
								<input type="text" bind:value={professionalForm.nroDoctor} use:useFieldValidation on:input={handleInputEvent} name="nroDoctor" placeholder="Ejemplo: 00000000" required>
							</div>
							<div class="box" class:wrong={validation['professional'].password != null && !validation['professional'].password}>
								<label for="password">Contraseña</label>
								<input type="password" bind:value={professionalForm.password} use:useFieldValidation on:input={handleInputEvent} name="password" required>
							</div>
							<div class="controls">
								<button class="btn-sigin">Registrar</button>
							</div>
							<input type="hidden" name="role" value="professional">
						</form>
					</div>
				{/if}
			</div>
		</div>
		<div class="logo-wrapper">
			<img src="{logo}" alt="">
		</div>
	</div>
</div>

<style>
	.general-margin {
		align-items: flex-end;

		& .wrapper-out {
			align-items: flex-end;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			& .wrapper-in {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
				min-height: calc(100dvh - 82px - var(--page-padding) * 3);
				width: 100%;
			}
		}
	}

	h3 {
		text-align: center;
	}

	a.back-to {
		margin-top: var(--page-padding);
		display: block;
		text-align: center;
	}

	.back-to {
		background-color: transparent;
		border: none;
		color: var(--primary-c);
		cursor: pointer;
		font-weight: bold;
		font-size: var(--fze-little);
		margin-bottom: var(--padding);
		text-transform: uppercase;
		outline: none;

		& i {
			color: var(--text-c);
			display: inline-block;
			margin-right: 10px;
		}
	}
	
	.choice-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 15px;

		& button {
			background-color: var(--primary-c);
			border: 2px solid var(--primary-c);
			border-radius: var(--border-radius-btn);
			color: var(--white-c);
			cursor: pointer;
			display: block;
			font-weight: bold;
			margin-top: 10px;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			transition: all var(--trans-time) ease;
			width: 100%;

			&:hover {
				background-color: transparent;
				color: var(--primary-c);
			}
		}
	}

	.logo-wrapper {
		width: 40px;
		margin: 0 auto;
		margin-top: var(--padding);

		& img {
			display: block;
			width: 100%;
		}
	}
</style>