<script lang="ts">
	import { enhance } from '$app/forms';
	import type { ITreatmentPlanValidation, ITreatmentPlanData, ITreatmentPlanChangeEvent } from '$lib/models/interfaces/form';
	import { addNotification } from '$lib/stores/notification';
	
	export let data;
	
	const questions = data.patient.context.split('%;%').map((c) => c.replace(/question_\d+\:\=(.+)/, '$1'));
	
	const form: ITreatmentPlanData = {
		treatment: data.patient.treatment,
		patientId: data.patient.id
	};
	const validation: ITreatmentPlanValidation = {
		treatment: null,
		patientId: null
	}
	const handleChangeTreatmentPlan: any = (node: Event & { currentTarget: EventTarget & HTMLTextAreaElement }) => {
		const target = node.target as HTMLTextAreaElement;

		validation.treatment = target.value == '' ? null : true;
	}
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		return async ({ result, update }: any) => {
			
			switch (result.type) {
				case 'success':
					addNotification({ msg: 'Plan de tratamiento asignado.', type: 'success' });
				break;
				case 'failure':
					result.data.msg.forEach((msg: string) => {
						addNotification({ msg: msg, type: 'error' });
					});
				break;
				case 'error':
					addNotification({ msg: 'Error desconocido. Intente más tarde o contacte con el administrador', type: 'error' });
				break;
			}
		}
	}
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="content-wrapper">
	<h1>Gestión del paciente</h1>
	<div class="item-wrapper">
		<h3>Información del paciente</h3>
		<div class="info-wrapper">
			<div class="info-item">
				<h5>Nombre</h5>
				<p>{data.patient.name} {data.patient.lastname}</p>
			</div>
			<div class="info-item">
				<h5>Adicción</h5>
				<p>{data.patient.addictionName}</p>
			</div>
		</div>
	</div>
	<div class="item-wrapper">
		<h3>Caso presentado</h3>
		<div class="patient-questions">
			{#each Object.entries(data.question_string) as [questionId, question]}
				<div class="question-item">
					<h5>{question}</h5>
					<p>R: {questions[parseFloat(questionId.replace(/question_(\d+)/, '$1')) - 1]}</p>
				</div>
			{/each}
		</div>
	</div>
	<div class="item-wrapper">
		<h3>Plan de tratamiento</h3>
		<div class="treatment-plan">
			<form action="?/assignTreatment" method="POST" use:enhance={submitForm}>
				<div class="box">
					<label for="treatment">Tratamiento</label>
					<textarea class="plan" name="treatment" id="treatment" bind:value={form.treatment} on:input={handleChangeTreatmentPlan}></textarea>
				</div>
				<input type="hidden" name="patientId" value="{form.patientId}">
				<div class="controls">
					<button>Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>
<style>
	.item-wrapper {
		background-color: var(--gray-c);
		border-radius: var(--border-radius);
		padding: calc(var(--padding) / 2);
		width: 100%;

		& .info-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: var(--padding);

			& .info-item {
				& h5 {
					text-align: left
				}
			}
		}

		& h3 {
			text-align: center;
			margin-bottom: var(--padding);
		}
		&:not(:first-child) {
			margin-top: var(--padding);
		}

		& .question-item {
			& h5 {
				text-align: left;
			}

			&:not(:first-child) {
				margin-top: var(--padding);
			}
		}

		
		& .plan {
			display: block;
			width: 100%;
			height: 300px;
			max-height: 400px;
			transition: all var(--trans-time) ease;
			border-radius: var(--border-radius);
			border: 2px solid var(--darkgray-c);
			outline: none;
			padding: 10px 15px;
			resize: none;

			&:focus {
				border-color: var(--black-c);
			}
		}
	}
</style>