<script lang="ts">
	import { enhance } from '$app/forms';
	import { setShowedPlanView } from '$lib/stores/little-things';
	import resetPlanVeiwing from '$lib/utils/resetPlanViewing';
	import type { IMedicalConsultingData, IMedicalConsultingValidation, IMessageChangeEvent } from '$lib/models/interfaces/form';

	export let data;

	let isNewConsultStarted = true;
	const form: IMedicalConsultingData = {
		message: ''
	};
	const validation: IMedicalConsultingValidation = {
		message: null
	}
	const handleChangeMessage: IMessageChangeEvent = (content: string) => {
		validation.treatmentPlan = content == '' ? null : true;
		form.treatmentPlan = content;
	}
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		cancel();
		//if (accountType == 0) goto(302, '/addiction-questionaire')
		//console.log({ formData: Object.fromEntries(formData) });

		/*return async ({ result, update }: any) => {
			switch (result.type) {
				case 'redirect':
					goto(result.location);
				break;
				case 'success':
					$notification = {
						id: crypto.randomUUID(),
						msg: `Publicación ${Object.entries(result.data).length ? "modificada" : "creada"} exitosamente`,
						type: 'success'
					}
				break;
				case 'failure':
					if (result.data != null)
						Object.entries(result.data).forEach(([field, status]) => Object.keys(validation).includes(field) ? validation[field] = status : null);
					
					$notification = {
						id: crypto.randomUUID(),
						msg: Object.entries(result.data).length ? 'Uno o más campos tienen un contenido inválido.' : 'Asegúrese de que formulario envíe el ID de la publicación.',
						type: 'error'
					}
				break;
				case 'error':
					$notification = {
						id: crypto.randomUUID(),
						msg: result.error.message == null ? 'Ocurrió un error inesperado. Consulte con el administrador' : result.error.message,
						type: 'error'
					}
				break;
			}
		}*/
	}
	resetPlanVeiwing(setShowedPlanView, data.session);
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="content-wrapper">
	<h1>Consulta médica</h1>
	<div class="item-wrapper">
		<div class="messages"></div>
		{#if isNewConsultStarted}
			<form action="?/addMessage" method="POST" use:enhance={submitForm}>
				<div class="box">
					<textarea name="message" id="message" bind:value={form.message}></textarea>
				</div>
				<input type="hidden" id="destiny" name="destiny">
				<div class="controls">
					<button>Guardar</button>
				</div>
			</form>
		{/if}
	</div>
</div>