@import './fonts.css';
@import './form.css';

* {
    box-sizing: border-box !important;
    margin-block: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    padding-inline: 0;
    position: relative;
}

:root {
    --black-c: #000000;
    --white-c: #FFFFFF;
    --gray-c: #F2F2F2;
    --darkgray-c: #D9D2D0;
    --primary-c: #5E92BF;
    --title-c: #1F1F1F;
    --text-c: #4d4d4d;
    --logoblue-c:#79B4D9;
    --wrong-c: #FF0033;
    --well-c: #28a745;
    --fmly-normal: "Encode Sans";
    --fmly-condensed: "Encode Sans Condensend";
    --fmly-expanded: "Encode Sans Semi Expanded";
    --border-radius-btn: 30px;
    --border-radius: 8px;
    --trans-time: 0.2s;
    --fze-title: 1.7rem;
    --fze-subtitle: 1.5rem;
    --fze-giant: 1.45rem;
    --fze-big: 1.2rem;
    --fze-normal: 15px;
    --fze-little: .8rem;
    --padding: 20px;
    --page-padding: 20px;
    --header-height: 120px;
    --footer-height: 120px;
}

html {
    color: var(--text-c);
    font-size: var(--fze-normal);
    font-family: var(--fmly-normal);
}
body {
    background-color: var(--gray-c);
    min-height: 100dvh;
}
h1, h2, h3, h4, h5 {
    color: var(--title-c);
    text-align: center;
    text-transform: capitalize;
    text-wrap: balance;
}
h1, h2 {
    font-size: var(--fze-subtitle);
}
p {
    text-wrap: pretty;
}
img {
    display: block;
}
main {
    padding: var(--page-padding) 0;
}
.general-margin {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px; 
    min-height: calc(100dvh - var(--page-padding) * 2);
    width: 100%;
    max-width: calc(100% - var(--page-padding) * 2);

    & .wrapper {
        width: 100%;
    }
}
.content-wrapper {
    background-color: var(--white-c);
    border-radius: var(--border-radius);
    padding: var(--padding);

    .form-wrapper {
        padding: 0;
    }

    & h2, & h1 {
        margin: 0 auto var(--padding) auto;
        padding-bottom: var(--padding);
        text-align: center;

        &::after {
            background-color: var(--primary-c);
            bottom: 0;
            content: "";
            height: 3px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: var(--padding);
        }
    }
}

@media (min-width: 500px) {
    :root {
        --page-padding: 40px;    
    }

    .general-margin {
        margin: 0 auto;
        width: 80%;
    }
}