/* Encode Sans */

@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-ExtraLight.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Encode Sans";
	src: url("../fonts/EncodeSans-Black.ttf");
	font-weight: 900;
}

/* Encode Sans Condensed */

@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-ExtraLight.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Medium.ttf");
	font-weight: 9500;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Encode Sans Condensed";
	src: url("../fonts/EncodeSans_Condensed-Black.ttf");
	font-weight: 900;
}

/* Encode Sans Semi Expanded */

@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-ExtraLight.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: "Encode Sans Semi Expanded";
	src: url("../fonts/EncodeSans_SemiExpanded-Black.ttf");
	font-weight: 900;
}