.form-wrapper {
	background-color: var(--white-c);
	border-radius: var(--border-radius);
	padding: var(--padding);
}
form {
	display: block;

	& .title {
		margin-bottom: var(--padding);
		text-align: center;

		& span {
			display: block;
			font-size: var(--fze-normal);
			text-transform: uppercase;
		}

		& b {
			display: block;
			color: var(--primary-c);
			font-size: var(--fze-big);
		}
	}

	& .box {
		width: 100%;

		& label,
		& input,
		& textarea,
		textarea.out,
		& p.input {
			display: block;
			width: 100%;
			transition: all var(--trans-time) ease;
		}

		& input,
		& textarea,
		textarea.out,
		& p.input {
			border-radius: var(--border-radius);
			border: 2px solid var(--darkgray-c);
			outline: none;
			padding: 10px 15px;
		}

		& label {
			color: var(--text-c);
			font-size: 0.9rem;
			font-weight: bold;
			padding: 10px 0;
		}
		& input {

			&:focus {
				border-color: var(--black-c);
			}
		}
		& textarea,
		textarea.out {
			resize: none;

			&:focus {
				border-color: var(--black-c);
			}
		}
		& p.input {
			background-color: var(--gray-c);
			cursor: not-allowed;
		}
		
		&.wrong {
			& label {
				color: var(--wrong-c);
			}
			&:not(.login-box) input, &:not(.login-box) textarea {
				border-color: var(--wrong-c);
			}
		}

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	& .controls {
		margin-top: var(--padding);
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 15px;

		& button {
            background-color: var(--primary-c);
            border: 2px solid var(--primary-c);
            border-radius: var(--border-radius-btn);
            color: var(--white-c);
            cursor: pointer;
            display: block;
            font-weight: bold;
            margin-top: 10px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            transition: all var(--trans-time) ease;
            width: 100%;

            &:hover {
                background-color: transparent;
                color: var(--primary-c);
            }
		}
	}
}