<script lang="ts">
	import logo from '$lib/assets/images/isotipo.png';
    import { goto } from '$app/navigation';
	import { enhance } from '$app/forms';
    import type { ILoginAuthData, ILoginAuthValidation } from '$lib/models/interfaces/session';
	import type { IEventSelect } from '$lib/models/interfaces/alidev-select';
	import { addNotification } from '$lib/stores/notification';

	export let data;
	
	const form: ILoginAuthData = {		
    	email: '',
    	password: ''
	};
	const validation: ILoginAuthValidation = {
    	email: null,
    	password: null
	}
	const validateField = (node: HTMLInputElement | HTMLSelectElement | IEventSelect, canBeEmpty: boolean = true) => {
		let status: boolean | null = false;

		if (node.value == '')
			status = canBeEmpty ? null : false;
		else
			status = data.EXP[node.name as keyof typeof data]?.test(node.value)

		validation[node.name as keyof typeof validation] = status;
	}
	const handleInputEvent = (node: Event & { currentTarget: EventTarget & (HTMLInputElement | IEventSelect) }) => {
		const target = node.target as HTMLInputElement | IEventSelect;

		validateField(target);
	}
	const useFieldValidation = (node: HTMLInputElement | IEventSelect) => validateField(node);
	const submitForm = async ({ formElement, formData, action, cancel, submitter }: any) => {
		const children = formElement.querySelectorAll('input, select');
		
		children.forEach((child: HTMLInputElement | HTMLSelectElement) => validateField(child, false));
		if (Object.values(validation).some(val => !val))
			cancel()
		
		return async ({ result, update }: any) => {
			switch (result.type) {
				case 'redirect':
					update();
				break;
				case 'failure':
					result.data.msg.forEach((msg: string) => {
						addNotification({ msg: msg, type: 'error' });
					});
				break;
				case 'error':
					addNotification({ msg: 'Error desconocido. Intente más tarde o contacte con el administrador', type: 'error' });
				break;
			}
		}
	}
</script>

<svelte:head>
	<title>{data.title_base + data.title}</title>
</svelte:head>

<div class="general-margin">
	<div class="wrapper-out">
		<div class="wrapper-in">
			<div class="wrapper">
				<a href="/" class="back-to"><i class="fa-solid fa-arrow-left-long"></i><span>Regresar al inicio</span></a>
				<div class="form-wrapper">
					<form action="?/login" method="POST" autocomplete="off" use:enhance={submitForm}>
						<h3 class="title"><span>Iniciar sesión</span></h3>
						<div class="box" class:wrong={validation.email != null && !validation.email}>
							<label for="email">Correo Electrónico</label>
							<input type="text" bind:value={form.email} use:useFieldValidation on:input={handleInputEvent} name="email" placeholder="Ejemplo: doe.john@mail.com" required>
						</div>
						<div class="box" class:wrong={validation.password != null && !validation.password}>
							<label for="password">Contraseña</label>
							<input type="password" bind:value={form.password} use:useFieldValidation on:input={handleInputEvent} name="password" required>
						</div>
						<div class="controls">
							<button class="btn-sigin">Ingresar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="logo-wrapper">
			<img src="{logo}" alt="">
		</div>
	</div>
</div>

<style>
	.general-margin {
		align-items: flex-end;

		& .wrapper-out {
			align-items: flex-end;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			& .wrapper-in {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
				min-height: calc(100dvh - 82px - var(--page-padding) * 3);
				width: 100%;
			}
		}
	}
	
	.back-to {
		background-color: transparent;
		border: none;
		color: var(--primary-c);
		cursor: pointer;
		display: block;
		font-weight: bold;
		font-size: var(--fze-little);
		margin-bottom: var(--padding);
		text-transform: uppercase;
		outline: none;

		& i {
			color: var(--text-c);
			display: inline-block;
			margin-right: 10px;
		}
	}

	.logo-wrapper {
		width: 40px;
		margin: 0 auto;
		margin-top: var(--padding);

		& img {
			display: block;
			width: 100%;
		}
	}
</style>