<script lang="ts">
    import { createEventDispatcher } from 'svelte';
    import { fade } from 'svelte/transition';
    import type { IAlidevData, IEventSelect } from '$lib/models/interfaces/alidev-select';
    import clickOutside from '$lib/utils/clickOutside';

    export let name: string;
    export let value: string | number;
    export let data: IAlidevData;
    export let menuShowed: boolean = false;
    export let required: boolean | null = null;
    export let isError: boolean | null | undefined;
    
    let select: HTMLSelectElement;
    const dispatchEvent = createEventDispatcher<{selectOption: IEventSelect}>();
    if (value == '')
        value = 'none';

    if (Array.isArray(data) && data[0].value != 'none')
        data.unshift({ text: 'Seleccionar', value: 'none' });
</script>

<div class="alidev-select-wrapper" use:clickOutside={() => menuShowed = false}>
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <div class="alidev-select-text-wrapper" id="{name}" class:focused={menuShowed} class:wrong={isError && isError != null} on:click={() => menuShowed = !menuShowed}>
        <span class="alidev-select-text">{data.find(dat => dat.value == value)?.text}</span>
        <span class="alidev-select-menu-btn flex-wrap">
            <i class="fa-solid fa-angle-down"></i>
        </span>
    </div>
    {#if menuShowed}
    <ul class="alidev-select-menu bottom-position" transition:fade={{ duration: 300 }}>
        {#each data as info}
            <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
            <!-- svelte-ignore a11y-click-events-have-key-events -->
            <li on:click={() => {
                    value = info.value;
                    menuShowed = !menuShowed;
                    dispatchEvent('selectOption', { name, value: info.value, data });
                }}>
                {info.text}
            </li>
        {/each}
    </ul>
    {/if}
</div>
<select {name} class="alidev-select" required={required} bind:this={select}>
    {#each data as info}
        <option selected={value != info.value ? null : true} value={info.value}>{info.text}</option>
    {/each}
</select>

<style>
    select.alidev-select {
        display: none;
    }
    .alidev-select-wrapper {
        position: relative;
    }
    .alidev-select-text-wrapper {
        align-items: center;
        border: 2px solid var(--darkgray-c);
        border-radius: var(--border-radius);
        color: var(--title-c);
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 1.5;
        padding: 10px 15px;
        position: relative;
        width: 100%;
        transition: all var(--trans-time) ease;
    }
    .alidev-select-text-wrapper.focused {
        border-color: var(--darkblue-c);
    }
    .alidev-select-text-wrapper.blocked {
        background-color: var(--opacityblue-c);
        color: var(--white-c);
        cursor: default;
    }
    .alidev-select-text-wrapper.wrong {
        border-color: var(--wrong-c);
    }
    /* texto seleccionado */
    .alidev-select-text {
        display: block;
        line-height: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all var(--trans-time) ease;
    }
    .alidev-select-text-wrapper.wrong .alidev-select-text {
        color: var(--wrong-c);
    }
    /* flecha del boton */
    .alidev-select-menu-btn {
        align-items: center;
        background-color: rgba(255,255,255,.8);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        position: absolute;
        top: 50%;
        right: 0;
        padding: 8px 10px;
        height: 100%;
        transform: translateY(-50%);
        transition: all var(--trans-time) ease;
    }
    .alidev-select-text-wrapper.blocked .alidev-select-menu-btn {
        background-color: transparent;
        display: none;
    }
    .alidev-select-text-wrapper.wrong .alidev-select-menu-btn {
        color: var(--wrong-c);
    }
    .alidev-select-menu-btn i {
        transition: all var(--trans-time) ease;
    }
    .alidev-select-menu-btn.opened i {
        transform: rotate(180deg);
    }
    /* menu */
    .alidev-select-menu {
        background-color: var(--white-c);
        border: 2px solid var(--darkgray-c);
        border-radius: var(--border-radius);
        /*display: none;*/
        max-height: 150px;
        /*opacity: 0;*/
        overflow: hidden;
        position: absolute;
        transition: opacity .5s ease;
        overflow-y: auto;
        width: 100%;
        z-index: 2;
    }    
    .alidev-select-menu.top-position {
        bottom: calc(100% + 3px);
    }
    .alidev-select-menu.bottom-position {
        top: calc(100% + 3px);
    }
    .alidev-select-menu.display {
        display: block;
    }
    .alidev-select-menu.show {
        opacity: 1;
    }
    /* li */
    .alidev-select-menu li {
        background-color: var(--gray-c);
        color: var(--text-c);
        cursor: pointer;
        list-style: none;
        padding: 10px;
        transition: all var(--trans-time) ease;
    }
    .alidev-select-menu li:not(:last-child) {
        border-bottom: 2px solid var(--darkgray-c);
    }
    .alidev-select-menu li[data-selected=true],
    .alidev-select-menu li:hover {
        color: var(--title-c);
    }
</style>