<script lang="ts">
    import logo from '$lib/assets/images/isotipo.png';
	import { enhance } from '$app/forms';
	import type { ILayoutData } from '$lib/models/interfaces/load';
    
    export let data: ILayoutData;

    const submitForm = async () => {

    }
</script>

<header>
	<a href="/profile"><i class="fa-regular fa-user"></i></a>
	<a href="/" class="logo-wrapper">
		<img src="{logo}" alt="logo">
	</a>
	<form action="/?/logout" method="POST" use:enhance={submitForm}>
		<button><i class="fa-solid fa-power-off"></i></button>		
	</form>
</header>

<style>
	header {
		align-items: center;
		background-color: var(--white-c);
		border-radius: var(--border-radius);
		display: grid;
		grid-gap: calc(var(--padding) * 2);
		grid-template-columns: repeat(3, 1fr);
		padding: var(--padding);

		& a,
		& form {
			display: block;
			text-align: center;
		}

		& .logo-wrapper {
			width: 30px;
			margin: 0 auto;

			& img {
				display: block;
				width: 100%;
			}
		}

		& a:not(.logo-wrapper),
		& form button {
			color: var(--text-c);
			font-size: var(--fze-giant);
			transition: all var(--trans-time) ease;

			&:hover {
				color: var(--primary-c);
			}
		}

		& form button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			outline: none;
		}

		@media (min-width: 500px) {
			grid-gap: var(--padding);
		}
	}
</style>