<script>
    import { fade } from 'svelte/transition';
    import { notification, removeNotification } from '$lib/stores/notification';
    
    let show = false;
    $: show = Object.keys($notification).length != 0;
</script>

<div class="notification-wrapper" class:show={show}>
    {#if Object.keys($notification).length}
        {#key $notification}
            {#each Object.entries($notification) as [ key, noti ]}
                <div class="notification-message" transition:fade={{ duration: 400 }}>
                    <button type="button" on:click={() => removeNotification(key)}><i class="fa-solid fa-xmark"></i></button>
                    {#if (noti.type == 'error')}
                        <i class="fa-solid fa-circle-xmark error"></i>
                    {:else if (noti.type == 'success')}
                        <i class="fa-solid fa-circle-check success"></i>
                    {:else if (noti.type == null)}
                        <i class="fa-solid fa-circle-exclamation notice"></i>
                    {/if}
                    <p>{noti.msg}</p>
                </div>
            {/each}
        {/key}
    {/if}
</div>

<style>
    .notification-wrapper {
        left: 0;
        position: fixed;
        top: calc(var(--padding) / 2);
        width: 100%;
        z-index: 3;

        & .notification-message {
            background: var(--white-c);
            border-radius: var(--border-radius);
            box-shadow: var(--bordershadow-c), var(--bordershadow-c), 0 10px 20px -10px rgba(0,0,0,.2);
            display: none;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: calc(var(--padding) / 2) auto;
            max-width: 70%;
            padding: calc(var(--padding) / 2);
            transition: all var(--trans-time) ease;
            width: max-content;

            & button {
                align-items: center;
                background: var(--text-c);
                border: none;
                border-radius: 50%;
                color: var(--white-c);
                cursor: pointer;
                display: flex;
                font-size: .7rem;
                flex-wrap: wrap;
                height: 25px;
                justify-content: center;
                position: absolute;
                right: -10px;
                top: -10px;
                width: 25px;
                transition: all var(--trans-time) ease;

                &:hover {
                    background-color: var(--title-c);
                }
            }
            
            & > i {
                    display: block;
                    font-size: var(--fze-big);
                    margin-right: calc(var(--padding) / 2);
                    width: 21px;

                    &.notice {
                        color: var(--title-c);                        
                    }
                    &.success {
                        color: var(--well-c);
                    }
                    &.error {
                        color: var(--wrong-c);
                    }
                }

            & p {
                width: calc(100% - 21px - calc(var(--padding) / 2));        
            }
        }

        &.show {
            & .notification-message {
                display: flex;
            }
        }
    }
</style>
