<div class="support-wrapper">
	<p>¿Necesitas ayuda?<p>
	<a href="/support" class="support-contact">Contactar con Soporte</a>
</div>

<style>
	.support-wrapper {
		margin-top: var(--padding);
		text-align: center;

		& p {
			margin-bottom: 5px;
		}

		& .support-contact {
			color: var(--primary-c);
			display: inline-block;
			font-weight: 500;
			text-decoration: none;
		}
	}
</style>